.container{
	padding-top: 13%;
	padding-bottom: 1%;
	text-align: center;
}
.generator{
	font: bold 14pt sans-serif;
}
.generator__pass-result{
	position: relative;
	padding: 5px;
	margin: 0 auto;
	width: 30%;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid black;
	border-radius: 20px;
}
.generator__pass-label{
	cursor:text;	
}
.generate-pass-btn:active{
	filter: invert(100%);
}
.bi-files{
	position: absolute;
	right: 10%;
}
.bi-files:hover{
	filter: contrast(30%);
	filter: blur(20%);
	color: purple;
}
.generator__options{
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
	margin: 0 auto;
	
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.generator__pass-length-view{
	width: 50px;
	height: 20px;
	text-align: center;
	margin: 0;
	border: 2px solid black;
	border-radius: 10px;
	padding: 10px;
}

.generator__choose-rnd-nums{
	visibility: hidden;
}

#rnd-nums-checkbox:checked ~.generator__choose-rnd-nums{
	visibility: visible;
}
.generator__pass-length-range{
	-webkit-appearance: none;
	cursor: pointer;
	border: 2px solid black;
	width: 20%;
	height: 10px;
	border-radius: 10px;
	outline: none;
}
.generator__pass-length-range::-webkit-slider-thumb{
	-webkit-appearance: none;
	background-color: black;
	width: 15px;
	height: 15px;
	border-radius: 10px;

}
.upscale{
	transform: scale(1.25);
}
.block-offset{
	margin-top: 10px;
	margin-bottom: 10px;
}

@media (max-width: 368px) {
	.generator__pass-result{
		width: 100%;
	}
	.generate-pass-btn{
		width: 40%;
	}
	.bi-files{
		right: 0;
	}
}

@media (min-width: 368px) {
	.generator__pass-result{
		width: 85%;
	}
	.generate-pass-btn{
		width: 30%;
	}
	.bi-files{
		right: 0;
	}
}

@media (min-width: 992px) {
	.generator__pass-result{
		width: 35%;
	}
	.generate-pass-btn{
		width: 15%;
	}
}
	
@media (min-width: 1200px) {
	.generator__pass-result{
		width: 30%;
	}
	.generate-pass-btn{
		width: 10%;
	}
	.bi-files{
		right: 5%;
	}
}